.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 795px;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  text-decoration: none solid rgb(204, 255, 0);
  margin: 110px auto 0 0;
}

.u-section-1 .u-list-1 {
  width: 626px;
  grid-template-rows: repeat(3, auto);
  margin: 50px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 431px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 15px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: -51px 128px 0 92px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 15px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -51px 128px 0 92px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 15px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: -51px 128px 0 92px;
}

.u-section-1 .u-image-1 {
  width: 442px;
  height: 442px;
  background-image: url("images/896004_medium2000.jpg");
  background-position: 50% 50%;
  margin: -431px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 387px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -48px;
    margin-right: 72px;
    margin-left: 82px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -48px;
    margin-right: 72px;
    margin-left: 82px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 396px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -51px;
    margin-right: 68px;
    margin-left: 86px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -51px;
    margin-right: 68px;
    margin-left: 86px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 72px;
    margin-left: 82px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 72px;
    margin-left: 82px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 95px;
    margin-left: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 646px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.375rem;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 15px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.375rem;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.375rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 672px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 61px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 602px;
  background-image: url("images/g07508a357d92ed27fcf3eb91ddde7f0d79feee6cca14179135671ff27fc62d0ce96d425c465fc5acccbf9cbf4a9f4372567348c387e5a82b38268ab4c6470c95_1280.jpg");
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-image-2 {
  width: 145px;
  height: 101px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 601px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 43px;
}

.u-section-2 .u-text-1 {
  margin: 51px 35px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 32px 31px 0 4px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 31px 343px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  box-shadow: 2px 2px 8px 0 rgba(255,255,255,0.9);
  margin: 24px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-2 .u-image-1 {
    min-height: 496px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 496px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 243px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-2 .u-image-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 159px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-2 .u-image-1 {
    min-height: 570px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-2 .u-image-1 {
    min-height: 359px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}